@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300&display=swap');

body {
  background-image: url("../img/usa_img_default.png");
  background-attachment: scroll;
  background-repeat: repeat-y;
  background-size: 100%;
  background-color: #483832;
}

h1 {
  text-align: center;
  padding: 2px;
  width: 600px;
  /*border-radius: 10px;*/
  border: solid orangered 1px;
  margin: 2% auto 2%;
  color: orangered;
  background-image: url("../img/usa-flag.jpg");
  background-position: 2% 2%;
  background-color: #7a2323;
  background-size: 10%;
  background-repeat: no-repeat;

  font-family: 'Londrina Solid', cursive;;
}

.card {
  font-size: 20px;
  color: aliceblue;
  background-color: #d43b3b;
  /*width: 100px;*/
  /*min-width: 150px;*/
  /*max-width: 200px;*/
  min-width: 130px;
  max-width: 200px;
  width: 120px;
  height: 120px;
  text-align: center;
  flex: 1 1 1vw;
  margin: 8px;
  font-family: 'Londrina Solid', cursive;;
  padding-top: 10px;
}

.card:nth-child(odd) {
  background: #fc2d2d;
  flex: 3 1 2vw;
}

.card:nth-child(4n) {
  background: #ff5100;
  flex: 3 1 2vw;
}

.card:nth-child(5n) {
  background: #ffa00d;
  flex: 1 1 1vw;
}

.grid {
  width: 50vw;
  margin: auto auto 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #7a2323;
  align-items: center;
  align-content: center;
  border: inset orangered 5px;
  padding: 2px;
}

