@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300&display=swap');

body {
  background-image: url("../img/usa_img_default.png");
  background-attachment: scroll;
  background-repeat: repeat-y;
  background-size: 100%;
  background-color: #483832;

}

.header {
  text-align: center;
  padding: 2px;
  width: 600px;
  border-radius: 3px;
  border: solid orangered 1px;
  margin: 2% auto 2%;
  color: orangered;
  background-image: url("../img/usa-flag.jpg");
  background-position: 2% 2%;
  background-color: #7a2323;
  background-size: 10%;
  background-repeat: no-repeat;

  cursor: default;
  font-family: 'Londrina Solid', cursive;;
}

.card-container{
  width: 210px;
  height: 210px;
  perspective: 1500px;
  backface-visibility: hidden;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.card {
  font-size: 26px;
  color: aliceblue;

  text-decoration: underline;
  margin: 8px;
  font-family: 'Londrina Solid', cursive;;
  padding-top: 10px;
  width: 200px;
  height: 200px;
  /*max-width: 500px;*/
  /*max-height: 500px;*/
  position: relative;

  transition: all 0.3s linear;
  transform-style: preserve-3d;
}

.back,
.front{
  width: 200px;
  height: 200px;
  min-width: 200px;
  min-height: 200px;
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;

  border: solid black 2px;
  border-radius: 3px;
}

.front{
  background: rgb(238,67,15);
  background: linear-gradient(220deg, rgba(238,67,15,1) 63%, rgba(255,29,0,1) 99%);
  background-size: 130%;

  z-index: 2;
}

.back{
  background: rgb(0,112,255);
  background: linear-gradient(220deg, rgba(0,112,255,1) 0%, rgba(14,52,112,1) 100%);
  background-size: 130%;
  transform: rotateY(180deg);
  z-index: 1;
}

.grid {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  min-width: 50vw;
  max-width: 40vw;
  margin: auto auto 100px;
  display: grid;
  border: solid orangered 1px;
  padding: 2px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  align-items: center;
  justify-items: center;
}



